.featureSection {
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    opacity: 0;
}

.featureSection.active {
}

.featureHeader {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 85%;
    /* opacity: 0; */
    /* transform: translateX(-100%); */
    /* opacity: 0; */
}

.featureHeaderText {
    width: 250px;
}

.iconContainer {
    /* width: 50px;
    height: 50px; */
    /* margin-right: 1; */
    filter: invert(100%);
}

.featureTitle {
    text-transform: uppercase;
    font-size: 1.3em
}

.featureSub {
    width: 88%;
    margin: 0 auto;
    margin-top: -.85rem;
    /* transform: translateX(-100%); */
    /* opacity: 0; */
}

.phone {
    position: relative;
    margin-top: 1.5em;
    /* opacity: 0; */
    /* transform: translateX(-100%); */
}

/* .phoneImg {
    z-index: 9999;
} */

.demoVid {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    margin: auto;
    margin-top:1em;
}

.fadeIn {
    animation: faderIn 1.5s forwards;
}

.fadeOut {
    animation: faderOut .5s forwards;
}

.fadeInSwipe {
    animation: fadeSwipe 1s .5s forwards;
}
/* 
.refresher {
    animation: refresh 1.5s forwards;
}

.refresher2 {
    animation: refresh2 1s forwards;
} */

@keyframes faderIn {
    0%   { opacity: 0; }
    100% { opacity: 1;}
}

@keyframes faderOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeSwipe {
    0% { 
        opacity: 0;
        transform: translate(-100%);
    }
    100% {
        opacity: 1;
        transform: translate(0%);
    }
}

/* 
@keyframes refresh {
    0%   { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes refresh2 {
    0%   { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 1; }
} */