.featureSection {
    position: sticky;
    top: 0;
    height: 0;
    overflow: hidden;
}

.featureSection.active {
    height: 100vh;
}

.featureHeader {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 85%;
    /* opacity: 0; */
    /* transform: translateX(-100%); */
    /* opacity: 0; */
}

.iconContainer {
    width: 7rem;
    margin-right: 1rem;
    filter: invert(100%);
}

.featureTitle {
    text-transform: uppercase;
    font-size: 1.3em
}

.featureSub {
    width: 88%;
    margin: 0 auto;
    margin-top: -.85rem;
    /* transform: translateX(-100%); */
    /* opacity: 0; */
}

.phone {
    position: relative;
    margin-top: 1.5em;
    /* opacity: 0; */
    /* transform: translateX(-100%); */

}

.demoVid {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    margin: auto;
    margin-top:1em;
}

.fadeIn {
    animation: faderIn 1.5s forwards;
}

.fadeOut {
    animation: faderOut .5s forwards;
}

.refresher {
    animation: refresh 1.5s forwards;
}

.refresher2 {
    animation: refresh2 1s forwards;
}

@keyframes faderIn {
    0%   { opacity: 0; }
    100% { opacity: 1;}
}

@keyframes faderOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes refresh {
    0%   { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes refresh2 {
    0%   { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}