.App {
  text-align: center;
  font-family: Futura, sans-serif;
  color: white;
  z-index: 1;
  /* height: 300vh; */
}

.landingContent {
  height: 100vh;
  width: 100vw;
}

.logoContainer {
  position: absolute;
  width: 20em;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

.centerLogo {
  width: 20em;
}

.logoBreak {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: -2.3em;
  width: 19em;
  border: 2px solid white;
}

.logoSub {
  width: 18em;
  margin: 0 auto;
}

.logoSub h2 {
  margin-top: -1em
}

.landingButtons {
  position: absolute;
  left: 0;
  right: 0;
  top: 400px;
  margin: auto;
  /* margin-top: 6em; */
}

.signUpButton {
  margin: 15px auto;
  border-radius: .4em;
  width: 13em;
  border: 4px solid white;
}

.downPoint {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 3em;
}

.particleScreen {
  position:fixed;
  width: 100% !important;
  height: 100vmax !important;
  z-index: 2;  
  top:0;
  left:0;
  pointer-events: all;
}

.stickyContent {
  height: 120vh;
}

.stickyWindow {
  overflow: hidden;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(0, 1692px, 0); /* The image width */
  }
}

/* FOOTER STYLES */

footer {
  margin-top: 100px;
  padding: 50px 50px 0px 50px;
  height: 90vh;
  background: black;
}

.buttonStyle {
  display: inline-block;
  font-family: 'Futura', sans-serif;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

footer .buttonStyle {
  margin-top: 15px;
}