.App {
  text-align: center;
  font-family: Futura, sans-serif;
  color: white;
  z-index: 1;
}

.home {
  height: 100vh;
}

.slide {
  position: absolute; 
  top:0; 
  left:0; 
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: height 0.9s ease-in-out;
}

.slide:nth-child(1) { z-index:10;}
.slide:nth-child(2) { z-index:9;}

.active.slide { 
  height: 100%; 
}

.logoContainer {
  position: absolute;
  width: 20em;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

.centerLogo {
  width: 20em;
}

.logoBreak {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: -2.3em;
  width: 19em;
  border: 2px solid white;
}

.logoSub {
  width: 18em;
  margin: 0 auto;
}

.logoSub h2 {
  margin-top: -1em
}

.landingButtons {
  position: absolute;
  left: 0;
  right: 0;
  top: 340px;
  margin: auto;
  /* margin-top: 6em; */
}

.signUpButton {
  color: white;
  margin: 25px auto;
  /* border-radius: .3em; */
  width: 13em;
  height: 3em;
  border: 4px solid white;
}

.signUpButton a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: white;
}

.landingLink {
  position: relative;
}

.landingLink:after {
  content: '';
  display: block;
  top: 0;
  position: absolute;
  height: 100%;
  width: 0%;
  transition: all .4s;
  background-color: white;
  z-index:-1;
}
.landingLink:hover:after {
  width: 100%;
}

.landingLink:hover {
  color: #4C607A;
}

.downPoint {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 3em;
}

.particleScreen {
  position:fixed;
  width: 100% !important;
  height: 100vmax !important;
  z-index: 2;  
  top:0;
  left:0;
  pointer-events: all;
}

/* .stickyContent {
  height: 120vh;
  scroll-snap-type: y mandatory;
} */

.featureSection {
  position: absolute;
  top: 37px;
  opacity: 0;
}

.featureWindow {
  /* scroll-snap-align: start; */
  /* overflow: hidden; */
  /* width: 100%; */
  /* position: absolute; */
  /* top: -100vh; */
  /* left: 0; */
  /* height: 100vh; */
  /* animation: bigSwipeY 1s forwards; */
}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(0, 1692px, 0); /* The image width */
  }
}

@keyframes bigSwipeY {
  0% {
    transform: translateY(0vh);
  }
  100%{
    transform: translateY(-100vh);
  }
}


/* FOOTER STYLES */

footer {
  /* margin-top: 100px; */
  /* padding: 50px 50px 0px 50px; */
  /* height: 90vh; */
  background: black;
}

.footerInfoContainer {
  position: absolute;
  top: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.FLogoContainer {
  width: 6em;
  margin-top: 1em;
  /* position: absolute; */
  /* transform: translate(50%); */
}

.buttonStyle {
  display: inline-block;
  font-family: 'Futura', sans-serif;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  /* border-radius: .25rem; */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* footer .buttonStyle {
  margin-top: 15px;
} */


.landingLink.ender {
  z-index: 9;
}
.landingLink.ender:hover {
  z-index: 9;
  color: black;
}

.signUpButton.end {
  width: 7em;
  height: 2em;
  vertical-align: middle;
}

.signUpButton.end strong {
  vertical-align: middle;
}

.socialContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 9em;
}

.socialIcon {
  width: 1.8em;
  margin-left: .5em;
  margin-right: .5em;
}

.testimonial {
  width: 70%;
  text-align: left;
}